//Подключение шрифта
@mixin($font_name, $file_name, $weight, $style){
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//адаптивный шрифт
@mixin adaptiv-font($pcSize, $mobSize,$maxSize ) {
	$addSize: $pcSize - $mobSize;
  @if $maxSize==1{
    //только если меньше контейнра
    font-size: $pcSize + px;
    @media (max-width: #{$MaxWidthContainer + px}) {
      font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$MaxWidthContainer - 320}));
    }
  } @else if $maxSize==2 {
    //только ксли больше контейнера
    font-size: $pcSize + px;
    @media (min-width: #{$MaxWidthContainer + px}) {
      font-size: calc(#{$nobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    //всегда
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}

//адаптивное свойство
@mixin adaptiv-value($property, $smartSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //только если меньше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
  } @else {
    //всегда
    #{$property}: calc(#{$minSize + px} + #{$addsize} * ((100vw - 320px) / #{$maxWidth - 320}));
  }
}
