//шрифты для иконок
@import "icons.scss"; 
// главный шрифт
@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('../fonts/ZenKakuGothicAntique-Bold.eot');
  src: url('../fonts/ZenKakuGothicAntique-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZenKakuGothicAntique-Bold.woff2') format('woff2'),
    url('../fonts/ZenKakuGothicAntique-Bold.woff') format('woff'),
    url('../fonts/ZenKakuGothicAntique-Bold.ttf') format('truetype'),
    url('../fonts/ZenKakuGothicAntique-Bold.svg#ZenKakuGothicAntique-Bold') format('svg');
  font-weight: 700;
  font-style: bolt;
}
@font-face {
  font-family: 'ZenKakuGothicAntique';
  src: url('../fonts/ZenKakuGothicAntique-Regular.eot');
  src: url('../fonts/ZenKakuGothicAntique-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ZenKakuGothicAntique-Regular.woff2') format('woff2'),
    url('../fonts/ZenKakuGothicAntique-Regular.woff') format('woff'),
    url('../fonts/ZenKakuGothicAntique-Regular.ttf') format('truetype'),
    url('../fonts/ZenKakuGothicAntique-Regular.svg#ZenKakuGothicAntique-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}