//Миксины>>
//@import "mixins";
//Миксины<<

//подключил шрифты
@import "fonts";

//шрифт по умолчанию
$fontfamily: "ZenKakuGothicAntique";

//переменные
$minwitdth: 320px;
$maxWidth: 1440;
$MaxWidthContainer: 1060;
$md1: $MaxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//переменные-

//обнеуление, общие параметры
@import "nullstyle.scss";
body.lock {
  overflow: hidden;
  background-color: #f2f1ef;
}

.page {
  padding: 120px 0px 0px 0px;
  flex: 1 1 auto;
  @media (max-width: $md3+px) {
    padding: 80px 0px 0px 0px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loader {
  }
}

//основная сетка
._container {
  max-width: ($MaxWidthContainer + px);
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: $md2+px) {
    max-width: 750px;
  }
  @media (max-width: $md2+px) {
    min-width: none;
    padding: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__content {
    max-width: 1320px;
    padding: 0px 30px;
    margin: 0px auto;
  }
  &__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 96px;
    align-items: center;
    @media (max-width: $md2+px) {
      height: 80px;
    }
    @media (max-width: $md3+px) {
      height: 50px;
    }
  }
  &__menu-logo {
    flex: 0 0 32px;
    z-index: 3;
    img:hover {
      transform: scale(1.5);
      transition: 0.5s;
    }
  }
  &__menu-logo img {
    max-width: 100%;
  }
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c4c4c4;
  z-index: 2;
}
.menu {
  &__icon {
  }
  &__body {
    @media (max-width: $md3+px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(196, 196, 196, 0.95);
      padding: 70px 40px 0 0;
      transition: all 0.5s ease 0s;
      &._active {
        top: 0px;
      }
    }
  }
  &__list {
    height: 82px;
    align-items: center;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    @media (max-width: $md3+px) {
      display: block;
    }
    li {
      margin: 0px 0px 0px 33px;
      @media (max-width: $md3+px) {
        margin-bottom: 50px;
        text-align: right;
      }
    }
  }
  &__link {
    border-bottom: 2px solid#332F29;
    font-size: 25px;
    font-weight: 400;
    color: #161513;
    transition: all 0.3s ease 0s;
    @media (min-width: $md3+px) {
      &:hover {
        color: #e94d35;
        border-bottom: 2px solid #e94d35;
      }
    }
    @media (max-width: $md3+px) {
      border-bottom: none;
      font-size: 35px;
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #161513;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          top: 7px;
          transform: rotate(-45deg);
          bottom: calc(50% - 1px);
        }
        &:last-child {
          bottom: 7px;
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.hello {
  overflow: hidden;
  @media (max-width: $md1+px) {
    padding: 0 0 0 0;
  }
  @media (max-width: $md3+px) {
    padding: 0 0 40px 0px;
    align-items: center;
  }
  &__container {
    max-width: 1320px;
    padding: 0px 20px 80px;
    display: flex;
    align-items: flex-start;
    margin: 0px auto 80px;
    @media (max-width: $md3+px) {
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      margin: 0px auto 10px;
      padding: 20px 10px;
    }
    @media (max-width: $md4+px) {
      margin: 0px 0px 0px 0px;
      padding: 0px 20px 20px;
    }
  }
  &__content {
    flex: 1 0 100%;
    padding: 0px 20px 0 0;
    *:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $md1+px) {
      padding: 0 50px 0 0;
    }
    @media (max-width: $md3+px) {
      padding: 0 0 0 0;
    }
  }
  &__body {
    width: 50%;
    height: 100%;
    @media (max-width: $md3+px) {
      text-align: center;
      width: 100%;
    }
    @media (max-width: $md2+px) {
    }
  }
  &__title {
    margin: 0 0 30px 0;
    @media (max-width: $md3+px) {
      padding: 20px 0 0 0;
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: $md4+px) {
      padding: 10px 0 0 0;
    }
  }
  &__text {
    text-transform: uppercase;
    font-size: 23px;
    line-height: 32/23 * 100%;
    letter-spacing: 0.48px;
    margin: 0 0 40px 0;
    @media (max-width: $md2+px) {
      margin: 0px 0px 20px 0px;
      font-size: 16px;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 10px 0;
    }
  }
  *:last-child {
    margin-bottom: 0px;
  }
  &__list {
  }
  &__list li {
    display: inline;
    margin-right: 16px;
  }
  &__list li:nth-child(2)::before {
    content: url("../img/star.svg");
    margin-right: 16px;
    position: relative;
    top: 5px;
    @media (max-width: $md2+px) {
      position: relative;
      top: 7px;
    }
  }
  &__list li:nth-child(3)::before {
    content: url("../img/star.svg");
    margin-right: 16px;
    position: relative;
    top: 5px;
    @media (max-width: $md2+px) {
      position: relative;
      top: 7px;
    }
  }
  &__btn {
  }
  &__avatar {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 562px;
    max-height: 563px;
    flex: 0 0 562px;
    border-radius: 50%;
    overflow: hidden;
    @media (max-width: $md2+px) {
      flex: 0 0 340px;
      max-width: 340px;
      max-height: 340px;
    }
    @media (min-width: $md3+px) {
      flex: 0 0 563px;
      transform: translate(-100%, 0px);
    }
    @media (max-width: $md3+px) {
      width: 50%;
    }
    img {
      display: block;
      max-width: 100%;
    }
    @media (max-width: $md3+px) {
      width: 250px;
      height: 250px;
      flex: 0 0 250px;
    }
  }
}
.title {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64 / 56 * 100%;
  font-weight: 400;
  @media (max-width: $md2+px) {
    font-size: 43px;
    margin-bottom: 20px;
  }
  @media (max-width: $md4+px) {
    font-size: 30px;
  }
}
.text {
}
.btn {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 48 / 32 * 100%;
  text-decoration: none;
  color: #161513;
  text-align: center;
  border: 2px solid #332f29;
  display: inline-flex;
  padding: 15px 33px;
  transition: all 0.3s ease 0s;
  @media (max-width: $md2+px) {
    height: 50px;
    font-size: 18px;
  }
  @media (max-width: $md3+px) {
    height: 40px;
    font-size: 16px;
    margin: 0 auto 0;
  }
  &:hover {
    text-shadow: 0.1px 0.1px 1px #f33b1f;
    box-shadow: 0.5px 0.5px 15px #f33b1f;
    transform: scale(1.3);
    transition: 1s;
    translate: 20px;
  }
  @media (max-width: $md3+px) {
    &:hover {
      text-shadow: none;
      box-shadow: none;
    }
  }
}

.blackline {
  position: relative;
  height: 32px;
  transform: skew(-4.93deg) rotate(-4.93deg);
  &__container {
    max-width: 1480px;
    padding: 20px 20px;
    margin: 0px auto;
    background: #161513;
    @media (max-width: $md2+px) {
      padding: 10px 10px;
    }
  }
  &__content {
    @media (max-width: $md3+px) {
      max-width: 250px;
      margin: 0px auto 0px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $md3+px) {
      flex-direction: column;
      max-width: 250px;
      align-items: flex-start;
    }
  }
  &__list li:before {
    @media (max-width: $md3+px) {
      content: url("../img/star.svg");
      position: relative;
      top: 8px;
      right: 10px;
    }
  }
  &__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__img {
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
.services {
  margin-top: 100px;
  @media (min-width: $md2+px) {
    *:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: $md2+px) {
    margin-top: 120px;
  }
  @media (max-width: $md3+px) {
    margin-top: 80px;
    overflow: hidden;
  }
  @media (max-width: $md4+px) {
    margin-top: 50px;
  }
  // &__container {}
  &__img-snowflake {
    max-width: 40px;
    margin: 0px auto 35px;
    @media (max-width: $md4+px) {
      margin: 40px auto 10px;
    }
  }
  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 124%;
    letter-spacing: 1.44px;
    @media (max-width: $md2+px) {
      font-size: 35px;
    }
  }
  // &__body {}
  &__content {
    flex: 0 1 67%;
    @media (max-width: $md3+px) {
      text-align: center;
      flex: 0 1 80%;
    }
  }
  &__img {
    flex: 1 1 30%;
    max-width: 300px;
    @media (max-width: $md2+px) {
      max-width: 150px;
      flex: 0 0 20%;
    }
  }
  &__img img {
    max-width: 300px;
    @media (max-width: $md2+px) {
      max-width: 150px;
    }
    @media (max-width: $md3+px) {
      width: 100px;
      margin-bottom: 5px;
    }
  }
  &__line {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 95px;
    @media (max-width: $md3+px) {
      flex-direction: column;
      align-items: center;
      margin: 70px auto 0;
    }
    @media (max-width: $md4+px) {
      margin: 40px auto 0;
    }
  }
  &__line:nth-child(even) {
    @media (max-width: $md3+px) {
      flex-direction: column-reverse;
    }
  }
  &__subtitle {
    display: inline-block;
    background: #e94d35;
    border-radius: 0px;
    padding: 14px 20px;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 45px;
    line-height: 124%;
    letter-spacing: 1.44px;
    @media (max-width: $md2+px) {
      font-size: 24px;
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
    }
  }
  .subtitle {
    font-size: 18px;
    line-height: 178%;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #fff;
    @media (max-width: $md2+px) {
      font-size: 14px;
      line-height: 136%;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    @media (max-width: $md3+px) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
.aboutme {
  margin-top: 200px;
  @media (min-width: $md2+px) {
    *:last-child {
      margin-bottom: 0;
    }
  }
  @media (max-width: $md2+px) {
    margin-top: 120px;
  }
  @media (max-width: $md3+px) {
    margin-top: 300px;
    overflow: hidden;
  }
  // &__container {}
  // &__body {}
  &__img-snowflake {
    max-width: 40px;
    margin: 0px auto 35px;
  }
  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 124%;
    letter-spacing: 1.44px;
    margin-bottom: 60px;
    @media (max-width: $md2+px) {
      font-size: 35px;
      margin-bottom: 30px;
    }
  }
  &__content {
  }
  &__link {
    display: flex;
    align-items: center;
    height: 140px;
    border: 2px solid #332f29;
    margin: 0 0 25px 0;
    padding-left: 35px;
    padding-right: 35px;
    @media (max-width: $md3+px) {
      flex-direction: column;
      height: auto;
      padding: 20px 10px;
    }
  }
  &__link:last-child {
    @media (max-width: $md4+px) {
      margin-bottom: 0;
    }
  }
  &__img {
    @media (max-width: $md3+px) {
      margin: 0px 0px 10px 0px;
      flex: 0 0 50px;
    }
  }
  &__text {
    flex: 1 1 50%;
    font-size: 23px;
    line-height: 139%;
    letter-spacing: 0.48px;
    margin: 0px 0px 0px 20px;
    @media (max-width: $md3+px) {
      padding-top: 10px;
      text-align: center;
    }
  }
}

.price {
  margin-top: 40px;
  margin-bottom: 60px;
  @media (max-width: $md4+px) {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  &__container {
    max-width: 1320px;
    margin: 20px auto 80px;
    padding: 10px;
    @media (max-width: $md2+px) {
      max-width: 750px;
      padding: 0px;
    }
    @media (max-width: $md3+px) {
      max-width: 750px;
      min-width: none;
      padding: 0 10px;
    }
    @media (max-width: $md4+px) {
      padding: 0px;
    }
  }
  &__img-snowflake {
    max-width: 40px;
    margin: 0px auto 35px;
    @media (max-width: $md4+px) {
      margin: 40px auto 10px;
    }
  }
  &__title {
    text-align: center;
    font-size: 45px;
    line-height: 124%;
    letter-spacing: 1.44px;
    margin-bottom: 40px;
    @media (max-width: $md4+px) {
      margin-bottom: 0px;
    }
  }
  &__body {
    @media (max-width: $md4+px) {
      display: none;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    width: 100%;
    @media (max-width: $md3+px) {
      padding-left: 0;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  &__cell {
    display: flex;
    width: 19%;
    margin: 30px 0px 0px 0px;
    height: 300px;
    justify-content: center;
    @media (min-width: $md1+px) {
      &:first-child:hover {
        translate: +22px;
      }
      &:hover {
        transform: scale(1.3);
        transition: 0.5s;
        background-color: #fff;
      }
      &:last-child:hover {
        translate: -22px;
      }
    }
    @media (max-width: $md3+px) {
      height: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0px;
      margin: 0px 0px 0px 0px;
    }
    @media (max-width: $md4+px) {
      padding: 0 20px;
      margin: 10px 0 20px 0;
    }
  }
  &__cell-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #332f29;
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    @media (max-width: $md2+px) {
      padding: 10px 5px;
    }
    @media (max-width: $md3+px) {
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: left;
      padding: 20px 20px;
      margin: 0;
    }
    @media (max-width: $md4+px) {
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: start;
      padding: 10px 10px;
      border: 2px solid #332f29;
    }
  }
  &__subtitle {
    text-align: center;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 80%;
    letter-spacing: 0.64px;
    @media (max-width: $md2+px) {
      font-size: 16px;
    }
    @media (max-width: $md3+px) {
      height: 40px;
      font-size: 28px;
      line-height: 100%;
      letter-spacing: 0.64px;
    }
    @media (max-width: $md3+px) {
      height: 20px;
      font-size: 20px;
    }
    @media (max-width: $md4+px) {
      margin-bottom: 5px;
    }
  }
  &__offer {
    height: 70%;
    @media (max-width: $md3+px) {
      max-width: 70%;
      & p {
        text-align-last: left;
      }
    }
  }
  &__cost {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: end;
    @media (max-width: $md3+px) {
      max-width: 30%;
    }
  }
  &__description {
    @media (max-width: $md2+px) {
      font-size: 16px;
      line-height: 120%;
    }
    text-align: center;
    font-size: 18px;
    line-height: normal;
  }
  &__text {
    text-align: center;
    display: block;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 124%;
    letter-spacing: 0.44px;
    @media (max-width: $md2+px) {
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0.5px;
    }
    @media (max-width: $md3+px) {
      height: 20px;
      font-size: 22px;
    }
  }
  &__rub {
    font-size: 14px;
    line-height: 178%;
    position: relative;
    left: 4px;
    bottom: 6px;
    @media (max-width: $md2+px) {
    }
    @media (max-width: $md3+px) {
      font-size: 14px;
      bottom: 5px;
      left: 2px;
    }
  }
}

.itc-slider {
  @media (min-width: $md4+px) {
    display: none;
  }
  position: relative;
  @media (max-width: $md4+px) {
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 0px;
  }
}
.itc-slider-wrapper {
  overflow: hidden;
  background-color: #f2f1ef;
}
.itc-slider-items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}
.itc-slider-item {
  flex: 0 0 100%;
  max-width: 100%;
  height: 500px;
  user-select: none;
  will-change: transform;
  padding-bottom: 50px;
}
/* индикаторы */
.itc-slider-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin: 0 15%;
  padding-left: 0;
  list-style: none;
}

.itc-slider-indicator {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(22, 21, 19, 0.548);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}
.itc-slider-indicator-active {
  background-color: rgb(233 77 53 /90%);
}

.inwork {
  margin-bottom: 60px;
  @media (max-width: $md4+px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  &__container {
    height: 156px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: $md4+px) {
      flex-direction: column;
      max-width: 100%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 50%;
    @media (max-width: $md4+px) {
      width: 100%;
      flex: 0 1 100%;
      padding: 20px 10px;
    }
  }
  &__title {
    text-align: center;
    font-size: 40px;
  }
  &__text {
    text-align: center;
    font-size: 32px;
    color: #fff;
  }
  .item-left {
    border: 2px solid #161513;
  }
  .item-right {
    border: 2px solid#161513;
    background-color: #161513;
  }
}

.call {
  background: #e6e3de;
  padding: 50px 0px;
  @media (max-width: $md4+px) {
    padding: 20px 40px 40px;
  }
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md4+px) {
      flex-direction: column;
    }
  }
  &__text {
    color: #161513;
    font-size: 40px;
    line-height: 139%;
    flex: 1 1 60%;
    @media (max-width: $md4+px) {
      text-align: center;
      flex: 1 1 50%;
      margin-bottom: 40px;
    }
  }
  &__social {
    font-size: 40px;
    color: #161513;
    display: flex;
    flex: 1 1 200px;
    justify-content: space-between;
    align-items: center;
    a:hover {
      @media (min-width: $md2+px) {
        transform: scale(1.5);
        transition: 0.7s;
      }
    }
  }
  @media (max-width: $md4+px) {
    flex: 1 1 50%;
    font-size: 50px;
  }
}
// . {
//   &_container {}
//   &_icon-instagram {}
//   &_icon-mail {}
//   &_icon-phone {}
//   &_icon-telegram {}
//   &_icon-whatsapp {}
// }
.social {
  &__item {
    color: #161513;
  }
}

.footer {
  text-align: center;
  padding: 20px 0 20px;
  background: #161513;
  &__free-icons {
  }
  &__free-icons-link {
    color: #bdb8ad;
    font-size: 14px;
    line-height: 171%;
  }
}
